*{
	margin: 0;
	padding: 0;
	font-family: arial narrow;
}

body{
	/*
	background-image: url();
	background-size: cover;
	background-position: center;
	width: 100%;
	height:90vh;
	margin: auto;*/
	
	background: #f7f7f7;
}

/* =============== GLOBAL =============== */

a{
	text-decoration: none;
	outline: none;
	color: #010101;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}

a:hover{
	color: #7176FF;
}

/* ====================================== */


/* =============== HEADER =============== */

header ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #1C2222;
	margin-top: 0px;
	padding: 10px 4px;
}

header ul li{
	padding: 5px;
}

header ul li a{
	color: #fff;
	padding: 5px 20px;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
	transition: 0.6s ease;
}

header ul li a:hover{
	color: #7176FF;
}

/* ======================================= */


/* =============== FOOTER =============== */

#footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5rem 0;
	background: #fff;
}

#footer-nav ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 15px;
}

#footer-nav ul li a{
	font-size: 1.3rem;
	font-weight: 300;
	color: #9d9d9d;
	padding: 0 10px;
	transition: 0.6s ease;
}

#footer-nav ul li a:hover{
	color: #7176FF;
}

#footer-icon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 15px;
}

#footer-icon li{
	list-style: none;
	padding: 0 10px;
}

#footer-icon li i{
	display: block;
	width: 42px;
	height: 42px;
	background: #bbbbbb;
	color: #fff;
	line-height: 42px;
	font-size: 20px;
	border-radius: 100%;
	text-align: center;
	cursor: pointer;
}

#footer-icon li i:hover{
	background: #7176FF;
}

.copy-right{
	color: #bbbbbb;
}

/* ======================================= */


/* =============== CONTENT =============== */

.intro{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 3rem 15rem 2rem 15rem;
}

.intro .left{
	width: 44.8%;
}

.intro .left .box{
	display: block;
	float: right;
}

.left .box img{
	width: 70%;
	display: block;
	border-radius: 50%;
}

.intro .right{
	width: 68.8%;
	padding: 2rem 0 0 1rem;
	margin: 0;
}

.intro .right h2{
	font-size: 34px;
	line-height: 53px;
	color: #404040;
	font-weight: 800;
	padding-bottom: 20px;
}

.intro .right span{
	color: #7176FF;
	font-size: 60px;
	display: block;
	padding-bottom: 15px;
}

.intro .right p{
	color: #454545;
	font-size: 25px;
	line-height: 30px;
}

.intro .right_vid{
	width: 68.8%;
	padding: 2rem 0 0 1rem;
	margin: 0;
}

.intro .right_vid p{
	color: #454545;
	font-size: 25px;
	line-height: 30px;
}

.intro .right_vid h2{
	font-size: 30px;
	line-height: 53px;
	color: #404040;
	font-weight: 800;
	padding-bottom: 15px;
}

.intro .right_vid span{
	color: #7176FF;
	font-size: 40px;
	display: block;
	padding-bottom: 15px;
}

/* ====================================== */



@media screen and (max-width: 987px){

/* =============== CONTENT =============== */

.intro{
	margin: 3rem 3rem 2rem 3rem;
}

.intro .right{
	padding: 0 0 0 0;
}

.intro .right h2{
	font-size: 27px;
	line-height: 45px;
}

.intro .right span{
	font-size: 35px;
}

.intro .right p{
	font-size: 15px;
	line-height: 15px;
}

.intro .right_vid h2{
	font-size: 20px;
	line-height: 45px;
}

.intro .right_vid span{
	font-size: 25px;
}

/* ====================================== */
	
}

@media screen and (max-width: 768px){
	
/* =============== CONTENT =============== */

.intro{
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 3rem 3rem 2rem 3rem;
}

.intro .left{
	width: 90%;
	margin-bottom: 2rem;
}

.intro .right{
	width: 100%;
	padding: 0 0 0 0;
}

.intro .right h2{
	font-size: 34px;
	line-height: 45px;
}

.intro .right_vid h2{
	font-size: 15px;
	line-height: 45px;
}

.intro .right_vid span{
	font-size: 20px;
}

/* ====================================== */
	
}

@media screen and (max-width: 431px){

/* =============== HEADER =============== */

header ul li{
	padding: 1px;
}

header ul li a{
	font-size: 1em;
}

/* ======================================= */


/* =============== FOOTER =============== */

#footer{
	padding: 3rem 0;
}

#footer-nav ul{
	padding-bottom: 10px;
}

#footer-nav ul li a{
	font-size: 1rem;
	padding: 0 10px;
}

#footer-icon{
	padding-bottom: 10px;
}

#footer-icon li{
	list-style: none;
	padding: 0 2px;
}

#footer-icon li i{
	display: block;
	width: 32px;
	height: 32px;
	background: #bbbbbb;
	color: #fff;
	line-height: 32px;
	font-size: 10px;
	border-radius: 100%;
	text-align: center;
	cursor: pointer;
}



/* ======================================= */


/* =============== CONTENT =============== */

.intro{
	margin: 3rem 1rem 2rem 1rem;
}

.intro .right span{
	font-size: 50px;
	padding-bottom: 10px;
}

.intro .right h2{
	font-size: 30px;
	line-height: 40px;
	padding-bottom: 10px;
}

.intro .right p{
	font-size: 15px;
	line-height: 20px;
}

/* ====================================== */



/* =============== BIB_BASE =============== */


#bibbase_header i {
    width: 16px;
    text-align: center;
    margin-right: 5px;
}

.bibbase_group {
    /* background-color: #D0D0E0; */
    background-color: #E0E0E0;
    font-style: italic;
    font-size: larger;
    text-shadow: 0px 0px 3px #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    padding: 5px 40px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.bibbase_group_body {
    margin-left: 20px;
}


img.bibbase_icon {
    width: 20px;
    max-height: 16px;
    vertical-align: text-top;


    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6+ */
}

img.bibbase_icon:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}



/* span.bibbase_icon_text { */
/*     display: none; */
/* } */

.bibbase_code {
    width: 80%
}

.comment {
    font-size: smaller;
    font-style: italic;
    color: gray;
}

.recommended {
    color: green;
}

/* bootstrap */

.bibbase_msg {
    text-align: center;
    width: 80%;
    margin: auto;
}

#bibbase_embed_modal {
    width: 70%;
    left: 15%;
    margin: 0;
}

.bibbase.well {
    margin: 20px;
    overflow-wrap: break-word;
}

.bibbase.link {
    text-decoration: none;
}

.bibbase_paper_content {
    font-size: smaller;
}

.bibbase_artifact_badge {
  width: 1.2em;
  height: 1.2em;

  vertical-align: text-top;
}


#group_article div.bibbase_group i+span { display: none; }
          #group_inproceedings div.bibbase_group i+span { display: none; }
          #group_mastersthesis div.bibbase_group i+span { display: none; }
          #group_phdthesis div.bibbase_group i+span { display: none; }
          #group_techreport div.bibbase_group i+span { display: none; }
          #group_unpublished div.bibbase_group i+span { display: none; }
          #group_incollection div.bibbase_group i+span { display: none; }

          #group_article div.bibbase_group i:after { content: " Journal Articles" }
          #group_inproceedings div.bibbase_group i:after { content: " Conference and Workshop Publications" }
          #group_mastersthesis div.bibbase_group i:after { content: " Master's Thesis" }
          #group_phdthesis div.bibbase_group i:after { content: " PhD Thesis" }
          #group_techreport div.bibbase_group i:after { content: " Technical Report" }
          #group_unpublished div.bibbase_group i:after { content: " Unpublished" }
          #group_incollection div.bibbase_group i:after { content: " In Collection" }

/* ====================================== */